.body {
    font-family: "Lato", sans-serif;
}
.cardStyle:hover {
    box-shadow: 0 0 11px #1d3557;
}

.mainContainer {
    display: block; 
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 3%;
}