body {
    font-family: "Lato", sans-serif;
  }

.span {
    font-weight: bolder;
    padding-bottom: 40px;
    margin-right: 5px;
  }
.container {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 40px 40px 40px;
    display: block;
  }
  