.body {
    font-family: "Lato", sans-serif;
}
.cardStyle:hover {
    box-shadow: 0 0 11px #1d3557;
}

.mainContainer {
    display: block;
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 4fr)); */
    align-items: center;
    justify-content: center;
    margin: auto;
}