body{
    font-family: 'Lato', sans-serif;
}
.btndiv{
    display: flex;
    justify-content: space-around;
}
/* .btn{
    background-color:#a8dadc;
    padding: 10px 20px;
    border: none;
} */
.deletebtn{
    background-color: #e63946;
    padding: 10px 20px;
    border: none;
   
}
.card{
    padding: 45px 45px 45px 45px;
}
.h2{
    text-align: center;
    padding-bottom: 50px;
}
.s{
    font-weight: bolder;
    padding-bottom: 20px;
    margin-right: 5px;
}
.container{
    padding-top: 80px;
}