.containerstyle {
  margin-top: 10px;
}
.heading {
  text-align: center;
  font-size: 25pt !important;
  font-weight: bold !important;
  padding-top: 15px;
  margin-bottom: 25px;
}
.cardstyle {
  color: #f1faee;
  font-family: Lato, sans-serif;
  border: 4px solid #457b9d;
  background-color: #1d3557;
  font-weight: 300;
  margin: auto;
  width: 40rem;
}
.formstyle {
  width: 500px;
  clear: both;
  margin-left: 50px;
}
.formstyle input {
  width: 100%;
  clear: both;
  border-radius: 5px;
  border: none;
}

.backbtn:hover {
  color: white;
  text-decoration: none;
  background-color: #457b9d;
  box-shadow: 0 0 6px #1d3557;
}
.backbtn {
  text-align: left;
  margin-left: 50px;
  margin-top: 10px;
  background-color: #1d3557;
  border: none;
}
.btndiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.savebtn:hover {
  background-color: #a8dadc;
  box-shadow: 0 0 6px #457b9d;
  transform: scale(1.01);
}
.savebtn {
  color: #1d3557;
  background-color: #a8dadc;
  border: none;
}
